# Copyright (c) The dgc.network
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Sawtooth Sabre TP
After=network.target

[Service]
User=sawtooth
Group=sawtooth
EnvironmentFile=-/etc/default/sawtooth-sabre
ExecStart=/usr/bin/sawtooth-sabre $SAWTOOTH_SABRE_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
