# Copyright (c) The dgc.network
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Sawtooth Smart TP
After=network.target

[Service]
User=sawtooth
Group=sawtooth
EnvironmentFile=-/etc/default/dgc-contract-tp
ExecStart=/usr/bin/dgc-contract-tp $SAWTOOTH_SMART_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
